*.db
*.bin
*.log
*.d
*.so
*.o
*.history
*.shm
transcript
work/
simu/*.f
simu/*.do
simu/*.tcl
.bender/
Bender.lock

# sukimasim bringup local artefacts
output/
.venv/
local/cvfpu_uvm_sukimasim.bender.f